$indexBorderColor: #c188ff;
$tableWidthLayout: calc(70% - 50px);
$tableBorderColor: #e5e5e5;
$dullText: #828282;

.table {
    &-record {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &__field {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            min-height: 50px;
            align-items: center;
            font-size: 16px;
            margin: 5px 0;
            flex-wrap: wrap;
            word-wrap: break-word;
            word-break: break-all;
            box-sizing: border-box;
            padding: 0 7px;

            &:not(:last-child) {
                border-right: 1px solid black;
            }
        }

        &__index {
            padding: 0 10px;
            border-right: 2px solid $indexBorderColor;
            height: 100%;
            display: flex;
            align-items: center;
            width: 20px;
            user-select: none;
        }
    }

    &-layout {
        display: flex;
        max-width: $tableWidthLayout;
        min-width: $tableWidthLayout;
        border: 1px solid $tableBorderColor;
        border-radius: 5px;
        flex-direction: column;
        padding: 20px;

        &__no-records {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            box-sizing: border-box;
            color: $dullText;
        }
    }
}
