$addRecordLayoutWidth: 40%;

.add-record {
    &-layout {
        display: flex;
        max-width: $addRecordLayoutWidth;
        min-width: $addRecordLayoutWidth;

        &__header {
            display: flex;
            width: 100%;
            font-size: 23px;
            padding-top: 20px;
        }
    }
}
